* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: sans-serif;
}

:root {
  --background: #1e1e1e;
  --primary: #e0e0e0;
  --secondary: #a0a0a0;
  --green: #00a67e;
  --link: #3399ff;
  --red: #d32f2f;
}

body {
  scroll-behavior: smooth;
}

@supports (scrollbar-color: auto) {
  html {
    scrollbar-color: var(--secondary) var(--background);
  }
}

section {
  background-color: var(--background);
  width: 100%;
  height: 100vh;
}

section > h1 {
  position: absolute;
  top: 12.5%;
  left: 10%;
  font-size: 50px;
  z-index: 1;
  color: var(--background);
}

.img-wrapper {
  position: fixed;
  top: 2.5%;
  left: 1.875%;
  width: 53px;
  height: 53px;
  cursor: pointer;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-border {
  position: fixed;
  top: 2.5%;
  left: 1.875%;
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  mix-blend-mode: difference;
  background-color: transparent;
  z-index: 2;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.top-bar {
  margin-top: 0.675%;
  margin-left: 3.75%;
  mix-blend-mode: difference;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: 9998;
}

.top-bar > ul {
  margin-left: 7.5%;
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
}

.top-bar > ul > li > a {
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
  transition: color 200ms ease-in-out;
}

.top-bar > ul > li > a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--link);
  left: 0;
  transition: width 200ms ease-in-out;
}

.top-bar > ul > li > a:hover {
  color: var(--link);
}

.top-bar > ul > li > a:hover::after {
  width: 100%;
}

.social-bar {
  display: flex;
  position: absolute;
  left: 1.5%;
  gap: 5vh;
  width: 5vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.social-bar > ul {
  height: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
}

.social-bar > ul > li > a > i {
  font-size: 30px;
  color: var(--primary);
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.social-bar > ul > li > a > i:hover {
  color: var(--link);
}

.social-bar > ul > li > div {
  margin-left: 35%;
  width: 2px;
  height: 60px;
  background-color: var(--primary);
}

.hero-section {
  display: flex;
}

.hero-content {
  width: 30%;
  padding: 0% 0% 0% 15%;
  align-self: center;
}

.hero-content > .spans > span {
  font-size: 75px;
  font-weight: 700;
  color: var(--primary);
  cursor: pointer;
  transition: color 200ms ease-in-out;
  margin-left: -6px;
}

.hero-content > .spans > span:hover {
  color: var(--link);
}

.hero-content > p {
  margin-top: 2.5%;
  font-size: 17px;
  font-weight: 100;
  color: var(--primary);
  cursor: pointer;
}

.hero-img {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 55vw;
  height: 100vh;
  z-index: 1;
  clip-path: polygon(0% 55%, 45% 0%, 100% 0%, 100% 100%, 45% 100%);
}

.img-clip {
  position: absolute;
  top: 0;
  right: 0;
  width: 55vw;
  height: 100vh;
  z-index: 2;
  background-color: var(--background);
  clip-path: polygon(7.5% 55%, 52.5% 0%, 55% 0%, 10% 55%, 55% 100%, 52.5% 100%);
}

.hero-img > img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.hero-img > .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent 0%, var(--background) 100%);
  z-index: 3;
  pointer-events: none;
}

#skills,
#portfolio {
  position: relative;
  background-color: var(--primary);
}

#skills {
  background: linear-gradient(to top, var(--primary) 98vh, rgba(30, 30, 30, 0.9));
}

.skills-content {
  width: 80%;
  height: 60%;
  padding: 30vh 10% 10vh 10%;
  z-index: 1;
  position: relative;
}

.skills-content > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  width: 100%;
  height: 100%;
  align-items: top;
}

.skills-content > ul > li {
  display: flex;
  width: 70%;
  height: fit-content;
  justify-self: center;
  text-align: center;
  align-items: center;
  padding-top: 10%;
  gap: 5%;
}

.skills-content > ul > li > .icon-container {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  background-color: var(--background);
  color: var(--primary);
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  transition: box-shadow 300ms ease-in;
}

.skills-content > ul > li:nth-child(5) > .icon-container {
  font-size: 70px;
}

.skills-content > ul > li:nth-child(6) > .icon-container {
  font-size: 55px;
}

.skills-content > ul > li > .icon-container:hover {
  background-color: var(--green);
  box-shadow: 1px 1px 10px 1px var(--green);
}

.skills-content > ul > li > p {
  font-weight: 600;
  height: 100%;
  text-align: left;
}

.circle-background-1 {
  position: absolute;
  top: 7.5%;
  right: 7.5%;
  width: 100px;
  height: 500px;
  background-image: radial-gradient(
    circle,
    var(--green) 1.5px,
    transparent 1.5px
  );
  background-size: 16px 16px;
  z-index: 0;
}

.circle-background-2 {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 125px;
  height: 75px;
  background-image: radial-gradient(
    circle,
    var(--green) 1.5px,
    transparent 1.5px
  );
  background-size: 16px 16px;
  z-index: 0;
  opacity: 0.5;
}

.circle-background-3 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 100px;
  height: 100px;
  background-image: radial-gradient(
    circle,
    var(--green) 1.5px,
    transparent 1.5px
  );
  background-size: 16px 16px;
  z-index: 0;
  opacity: 0.5;
}

#links {
  height: 40vh;
  width: 100%;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  position: relative;
}

#links > h1 {
  padding-top: 25px;
  color: var(--background);
  font-size: 50px;
}

.link-list {
  padding-top: 25px;
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 50px;
}

.link-list > li > p {
  font-size: 20px;
  padding-top: 5px;
}

.link-list > li > div {
  background-color: var(--background);
  width: 125px;
  height: 125px;
  clip-path: polygon(0% 50%, 50% 100%, 100% 50%, 50% 0%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.link-list > li > div > a > i {
  color: var(--primary);
  transition: color 200ms ease-in-out;
}

.link-list > li > div > a > i:hover {
  color: var(--green);
}

.circle-background-4 {
  position: absolute;
  top: 0%;
  right: 2.5%;
  width: 150px;
  height: 50px;
  background-image: radial-gradient(
    circle,
    var(--green) 1.5px,
    transparent 1.5px
  );
  background-size: 16px 16px;
  z-index: 0;
}

.circle-background-5 {
  position: absolute;
  bottom: 0%;
  left: 2.5%;
  width: 150px;
  height: 50px;
  background-image: radial-gradient(
    circle,
    var(--green) 1.5px,
    transparent 1.5px
  );
  background-size: 16px 16px;
  z-index: 0;
}

#portfolio {
  height: 150vh;
  background: linear-gradient(to bottom, var(--primary) 147.5vh, rgba(30, 30, 30, 0.9));
}

#portfolio > h1 {
  top: 9%;
}

.portfolio-content > div {
  position: relative;
}

#contributions, #pinned, #language{
  color: var(--green);
  font-size: 45px;
  opacity: 0.2;
  position: absolute;
  right: 0%;
}

#contributions {
  top: -35%;
}

#pinned {
  top: -27.5%
}

#language {
  top: -22%;
}

#portfolio > div {
  display: grid;
  width: 80%;
  height: 70%;
  padding: 22.5vh 10% 7.5vh 10%;
  grid-template-rows: 0.75fr 1fr 1.25fr;
  gap: 10%;
}

.row1 {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.row1-wrapper {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row1-wrapper > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 2.5%;
  background-color: var(--green);
  color: var(--primary);
  border-radius: 25px;
  padding: 5%;
  text-decoration: none;
  transition: box-shadow 600ms ease-in-out;
}

.row1-wrapper > a:hover {
  box-shadow: 1px 1px 10px 1px var(--green);
}

.row1-wrapper > a > i {
  font-size: 24px;
}

.row1-wrapper > a > p {
  padding-top: 2%;
}

#contributions-heatmap {
  height: fit-content;
}

#row2-wrapper {
  display: inline-flex;
  justify-content: space-between;
  gap: 1%;
}

.repo-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  border: 1px solid #85919e60;
  border-radius: 12px;
  padding: 20px;
  max-width: 245px;
  min-width: 200px;
  transition: all 120ms ease-in;
  box-shadow: #4c5f7290 0 4px 16px -8px;
  text-decoration: none;
  cursor: pointer;
  height: max-content;
}

.repo-card:hover {
  box-shadow: #4c5f7290 0 8px 16px -8px;
  border: 1px solid #85919e;
  transform: translateY(-1px);
}

.repo-card h3 {
  margin-top: 0;
  font-size: 13px;
  font-weight: bold;
  color: #4c5f72;
  letter-spacing: -0.4px;
  margin-bottom: 18px;
  line-height: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  max-height: 1.25em;
}

.repo-card .description {
  color: #676a6c;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  height: calc(2 * 1.24em);
  margin-bottom: 18px;
  font-size: 11px;
}

.repo-card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  font-size: 11px;
  align-self: end;
}

.repo-card h3 span {
  font-weight: 400;
  color: #85919e;
  letter-spacing: -0.2px;
}

.repo-card .language {
  display: flex;
  align-items: center;
  color: #676a6c;
  margin-right: 8px;
}

.repo-card .language span {
  margin-left: 5px;
}

.repo-card p i {
  color: #676a6c;
}

.row3 > div {
  width: 95%;
  height: fit-content;
  border: 1px solid #85919e60;
  border-radius: 12px;
  padding: 2.5%;
  box-shadow: #4c5f7290 0 4px 16px -8px;
  display: flex;
}

#language-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

.language-div {
  display: grid;
  grid-template-rows: auto auto;
  padding: 10px;
  border-top: 1px solid rgba(103, 106, 108, 0.5);
  border-left: 1px solid rgba(103, 106, 108, 0.5);
}

.language-div:nth-child(-n + 3) {
  border-top: none;
}

.language-div:nth-child(3n + 1) {
  border-left: none;
}

.language-div .language {
  display: flex;
  align-items: center;
  color: var(--background);
  font-weight: 700;
  font-size: 15px;
  margin-right: 8px;
}

.language-div .language span {
  margin-left: 5px;
}

.language-div .loc {
  padding-left: 2.5%;
  font-size: 15px;
}

.language-div .loc span {
  font-size: 12.5px;
  color: var(--background);
  font-weight: 700;
}

.language-div .loc span:before {
  content: "LOC: ";
  color: #676a6c;
  font-weight: 500;
}

#language-diagram {
  width: 20%;
  min-width: 95px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myChart {
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

#language-diagram .profile-img {
  position: absolute;
  z-index: 0;
  width: 97px;
  height: 97px;
}

#contact {
  position: relative;
}

#contact h1 {
  color: var(--primary);
  width: 100%;
  left: 0%;
  text-align: center;
}

.contact-content {
  padding: 25vh 10%;
  width: 80%;
  height: 50vh;
  display: flex;
  font-family: sans-serif;
  
}

.contact-content > form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--primary);
  gap: 15%;
}

.contact-content > form > .form-row {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

#contact-form > div > label, .form-row > div > label {
  display: flex;
  color: var(--secondary);
  position: absolute;
  margin-top: 20px;
  margin-left: 3px;
  font-size: 15px;
  padding-left: 2px;
}

.input-wrapper > input {
  background: transparent;
  border-bottom: var(--secondary) 2px solid;
  padding-left: 5px;
  padding-bottom: 2px;
  color: var(--primary);
}

.input-wrapper > input::placeholder {
  color: var(--secondary);
  font-size: 15px;
}

.input-wrapper > input:focus {
  outline: none;
}

.second-row {
  width: 50%;
}

#question {
  width: 98.75%;
}

.labelAnimUp {
  animation: moveTop 500ms forwards;
}

@keyframes moveTop {
  0% {
    margin-top: 20px;
  }

  100% {
    margin-top: 0px;
  }
}

.labelAnimDown {
  animation: moveDown 250ms forwards;
}

@keyframes moveDown {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 20px;
    display: none;
  }
}

#contact > img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 90%;
}

form > button:disabled {
  background-color: var(--primary);
  color: var(--green);
  cursor: not-allowed;
}

form > button {
  color: var(--primary);
  background-color: var(--green);
  padding: 1.25% 2.5%;
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 250ms ease-in-out;
}

form > button:not(:disabled):hover {
  box-shadow: 1px 0px 5px 1px var(--green);
}

#footer {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer > p {
  font-size: 10px;
  color: var(--primary);
  width: fit-content;
}

#message {
  display: flex;
  opacity: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 10%;
  left: 1.25%;
  background-color: var(--green);
  border: 0;
  border-radius: 5px;
  width: fit-content;
  height: 50px;
  padding: 2.5px 10px;
  color: var(--primary);
  gap: 5px;
}

#message > p {
  font-size: 15px;
}

#message.active {
  animation: op1 500ms forwards;
}

@keyframes op1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#message.close {
  animation: op0 500ms forwards;
}

@keyframes op0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#dropdown-menu {
  display: none;
}

#dropdown-content {
  display: none;
}

@media screen and (max-width: 1024px) {
  .top-bar {
    height: 12.5vh;
  }

  .top-bar ul {
    margin: 0% 7.5% 0% 15%;
    gap: 0;
    width: 100%;
  }

  .top-bar > ul > li > a {
    font-size: 20px;
  }

  .img-wrapper {
    width: 81px;
    height: 81px;
  }

  .profile-img {
    width: 75px;
    height: 75px;
  }

  .img-border {
    z-index: 3;
    width: 75px;
    height: 75px;
  }

  .img-clip {
    z-index: -1;
  }

  .hero-img {
    clip-path: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
  }

  .social-bar {
    z-index: 1;
  }

  .social-bar ul {
    background-color: var(--background);
    padding: 0% 50%;
    border-radius: 0px 15px 15px 0px;
  }

  .top-bar-background {
    display: flex;
    background-color: rgba(30, 30, 30, 0.9);
    height: 12.5vh;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-radius: 0% 0% 25px 25px;
  }

  .hero-content {
    width: 100%;
    align-self: center;
    z-index: 1;
    padding: 0;
    display: grid;
  }

  .hero-content .spans {
    justify-self: center;
    display: flex;
  }

  .hero-content .spans span {
    font-size: 100px;
  }

  .hero-content .spans span:nth-child(4) {
    padding-right: 10%;
  }

  .hero-content p {
    justify-self: center;
    font-size: 25px;
  }

  .skills-content > ul > li > .icon-container {
    max-width: 200px;
    min-width: 100px;
  }

  #portfolio {
    height: auto;
  }

  #portfolio > div {
    padding: 13.5vh 10% 7.5vh 10%;
    gap: 7.5%;
  }

  .row1 {
    display: grid;
    gap: 10%;
    grid-template-columns: 1fr;
  }

  .row1-wrapper {
    gap: 0%;
    width: 100%;
  }

  .row1-wrapper > p {
    margin-top: 20px;
  }

  .row1-wrapper > a {
    width: 30%;
    height: 10%;
  }

  #row2-wrapper {
    display: grid;
    gap: 0%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  #row2-wrapper h3 {
    height: 1.1em;
    font-size: 20px;
  }

  #contributions {
    top: 45.5%;
  }

  #pinned {
    top: -13%;
  }

  #language {
    top: -20%;
  }

  .repo-card .description, .repo-card .card-bottom {
    font-size: 15px;
  }

  .repo-card {
    height: fit-content;
    justify-self: center;
    max-width: 400px;
  }
}

@media screen and (max-width: 430px) {

  .img-border {
    width: 50px;
    height: 50px;
    top: 2.5%;
    left: 5%;
  }

  .img-wrapper {
    width: 53px;
    height: 53px;
    top: 2.5%;
    left: 5%;
  }

  .profile-img {
    width: 50px;
    height: 50px;
  }

  .top-bar-background {
    height: 10vh;
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
  }

  .top-bar {
    height: 10vh;
    width: 100%;
  }

  .top-bar ul {
    display: none;
  }

  .hero-content .spans span {
    font-size: 50px;
  }

  .hero-content p {
    font-size: 12.5px;
  }

  .skills-content > ul {
    grid-template-columns: 1fr 1fr;
  }

  .skills-content > ul > li {
    display: block;
  }

  .skills-content > ul > li > .icon-container {
    padding: 15%;
  }

  .skills-content > ul > li > p {
    text-align: center;
    margin-top: 10px;
  }

  .link-list {
    font-size: 30px;
  }

  .link-list > li > div {
    width: 75px;
    height: 75px;
  }

  #portfolio {
    height: auto;
  }

  .row1 {
    height: 100%;
    display: grid;
    gap: 15%;
  }

  .row1-wrapper {
    justify-content: unset;
    height: fit-content;
    width: 100%;
  }

  .row1-wrapper a {
    width: 145px;
    padding: 2%;
  }

  #row2-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

  #row2-wrapper h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .repo-card {
    padding: 15px;
    min-width: 150px;
    width: 175px;
    max-width: none;
  }

  .repo-card .description {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .repo-card .card-bottom {
    font-size: 11px;
  }

  .language-div .language, .language-div .loc {
    font-size: 10px;
  }

  #language-diagram .profile-img {
    width: 95px;
    height: 95px;
  }

  #contributions, #pinned, #language {
    font-size: 30px;
  }

  #contributions {
    top: 50%;
  }

  #pinned {
    top: -13.5%;
  }

  #language {
    top: -19.5%;
  }

  .contact-content > form > .form-row {
    width: 100%;
  }

  .second-row {
    width: 100%;
  }

  #dropdown-menu {
    display: flex;
    position: absolute;
    right: 12.5%;
    color: var(--primary);
    font-size: 30px;
  }

  #dropdown-content {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: var(--background);
    color: var(--primary);
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  #dropdown-content.active {
    display: flex;
  }

  #dropdown-content ul {
    list-style-type: none;
  }

  #dropdown-content li {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
  }

  #dropdown-content a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
  }
}