*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #739E73;
}

body{
    background-color: whitesmoke;
}

hr{
    height: 10vh;
    width: auto;
}

section{
    padding: 0% 4% 0% 4%;
}

h2{
    font-size: medium;
}

i{
    color: whitesmoke;
}

input{
    background-color: #FFFF99;
    font-size: 15px;
    width: 80vw;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

textarea{
    background-color: #FFFF99;
    font-size: 15px;
    width: 80vw;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

::placeholder{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}

input::placeholder{
    padding-top: 10px;
}

.home-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 75px;
    width: 75px;
    background-color: #739E73;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.home-button>i{
    color: whitesmoke;
    font-size: 25px;
}

.home-button:hover{
    transform: scale(1.1);
}

.top-bar{
    width: auto;
    height: 15vh;
    background-color: #739E73;
    box-shadow: 0px 5px 5px 0px #739E73E6, 0px 5px 5px 0px #739E73CC, 0px 5px 5px 0px #739E73B3, 0px 5px 5px 0px #739E7399, 0px 5px 5px 0px #739E7380;
    color: whitesmoke;
    z-index: 1;
}

.contact{
    width: auto;
    height: fit-content;
    transform: translateY(50%);
    position: absolute;
    font-size: medium;
}

.contact-name{
    color: whitesmoke;
    font-size: large;
}

.contact-email{
    color: whitesmoke;
}

.contact-number{
    color: whitesmoke;
}

.nav-bar{
    font-size: medium;
    float: right;
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: 35%;
    overflow: hidden;
}

.nav-bar a{
    color: #FFFBE3
}

.nav-child{
    margin-inline: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: underline transparent;
    width: fit-content;
}

.nav-child:hover {
    color: #FFFF99;
}

.nav-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFFF99;
    transition: width 0.3s ease, left 0.3s ease 0.2s;
  }
  
  .nav-child:hover::before {
    width: 100%;
    left: 0;
  }

#about{
    width: auto;
    height: fit-content;
}

.about-container{
    padding: 0% 2% 0% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.about-img{
    width: fit-content;
    height: 500px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.about-text{
    height: 30vh;
}

.about-header{
    font-weight: 800;
}

.about-paragraph{
    line-height: 1.5;
    font-weight: 500;
    font-style: italic;
    font-size: medium;
}

.section-bar{
    margin-top: 50px;
    height: 2px;
    width: auto;
    background-color: #739E73;
}

#skills{
    width: auto;
    height: fit-content;
}

.skills-header{
    font-weight: 800;
    color: #739E73;
}

.container{
    padding: 0% 2% 0% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    height: fit-content;
}

.skills-child{
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: fit-content;
    text-align: center;
    border: 2px solid #739E73;
    border-radius: 5px;
    box-shadow:  1px 1px 1px 1px,  -1px -1px 1px 1px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.skills-child:hover{
    transform: scale(1.1);
}

.half{
    height: 5vh;
    width: 100%;
}

.skills-img{
    height: 100px;
    width: auto;
}

#projects{
    width: auto;
    height: fit-content; 
}

.projects-header{
    font-weight: 800;
    color: #739E73;
}

.p-paragraph{
    margin-left: 4%;
}

.half-s-bar{
    margin: 25px 4% 25px 4%;
    height: 1px;
    width: auto;
    background-color: #739E73;
}

.r-child{
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    width: auto;
    text-align: center;
    border: 2px solid #739E73;
    border-radius: 5px;
    box-shadow:  1px 1px 1px 1px,  -1px -1px 1px 1px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    min-height: 100px;
}

.r-child:hover{
    transform: scale(1.1);
}

.last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-paragraph::before{
    content: " \" ";
    font-size: large;
    font-style: oblique;
    font-weight: bold;
    color: #228B22;
}

.r-paragraph::after{
    content: " \" ";
    font-size: large;
    font-style: oblique;
    font-weight: bold;
    color: #228B22;
}

.add-recommendation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-recommendation>i{
    font-size: 75px;
    color: #739E73;
}

.hidden{
    display: none;
}

#r-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFF99;
    animation: fadeIn 1s ease-out;
    z-index: 2;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 75px;
    width: 75px;
    background-color: #739E73;
    border-radius: 75px;
    transition: transform 0.3s ease-in-out;
    z-index: 3;
}

.close-button>i{
    height: 100%;
    width: 100%;
    color: whitesmoke;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button:hover{
    transform: scale(1.1);
}

.screen-container{
    display: flex;
    position: fixed;
    left: 8%;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.row-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}

#name {
    height: 30px;
}

#recommendation{
    height: 400px;
}

#submit-btn{
    width: 100px;
    height: 50px;
    border: #739E73 2px solid;
    border-radius: 5px;
    color: #739E73;
    font-size: 15px;
    background-color: #FFFF99;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#submit-btn:hover{
    transform: scale(1.1);
}

#thx-msg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFBE3;
    height: 100px;
    width: 250px;
    border: #739E73 2px solid;
    border-radius: 5px;
    z-index: 2;
    animation: fadeIn 1s ease-out;
}

#close-bar{
    height: 20px;
    width: 100%;
}

.msg-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#msg-close{
    position: absolute;
    right: 4px;
    top: 4px;
    width: fit-content;
    height: fit-content;
    transition: transform 0.3s ease-in-out;
}

#msg-close>i{
    color: #739E73;
    height: 100%;
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.message{
    padding: 8%;
    width: fit-content;
    height: fit-content;
}